body{
     background-color: aquamarine;
}
code{

    display:block;
    font-size: 100px;
    font-family: 'Dancing Script', cursive; 
    font-size:100px;
}
#me{
 width: 235px;
}
.me{
    width: 20%;
}
.mk{
    display: inline-block;
    width: 10%;
}
.ml{
    display:inline-block;
    width: 13%;
}